
<md-card>
  <md-card-title>
    Finalize Order
  </md-card-title>

  <md-card-content>
    <md-card>
      <h3>Token Details</h3>

      <p *ngFor="let prop of props">
        <b>{{prop.view}}:</b> {{order[prop.name]||''}}
      </p>
    </md-card>

    <md-card>
      <p>
        Send <b>0.5 ETH</b> to following address in order to create your token.
      </p>
      
      <qr-code [value]="ethProtocol(order.paymentAddress)" [size]="150"></qr-code>

      <p>
        <b>ETH address:</b> {{order.paymentAddress}}
      </p>
    </md-card>

  </md-card-content>
</md-card>